@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslateblue;
  width: 560px;
  margin: auto;
  margin-top: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  overflow: auto;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin-bottom: 30px;
}
